html,
body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  background: #f9f9f9;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  font-weight: 100;
}

p {
  line-height: 1.5rem;
}

h1 {
  margin-bottom: 24px;
  font-size: 32px;
}

h2 {
  margin-bottom: 16px;
}

h3,
h4,
h5,
h6,
p {
  margin-bottom: 8px;
}

section {
  margin-bottom: 16px;
}

.mt-halfScreen {
  margin-top: 50vh;
  transform: translateY(-50%);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  height: 100%;
}

.center {
  text-align: center;
}

#ResumeApp {
  max-width: 100%;
}
